.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 10.625rem;
}

.services-title{
    position: relative;
}

.services-title h1{
    padding: 0rem 1.875rem;
    font-size: 5rem;
    font-weight: 600;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding: 3.75rem;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.services-format h3{
    font-size: 1.75rem;
    font-weight: 600;
}

.services-format h2{
    font-size: 2.375rem;
    font-weight: 800;
    background: linear-gradient(270deg, #00B4DB 10%, #0083B0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format  p{
    color: white;
    font-size: 1rem;
    line-height: 2.3rem;
    max-width: 100%;
}

.services-readmore{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 1.25rem;
}

.services-format:hover{
    border: 2px solid lightgreen;
    background-image: linear-gradient(45deg, #006400, #013220);
    transform: scale(1.05);
    transition: 0.4s;




}

@media (max-width:768px) {
    .services{
        align-items: start;
        gap: 4rem;
        margin: 1.25rem 4.375rem;
    }

    .services-title h1{
      padding: 0;
      font-size: 3.125rem;
    }

    .services-format{
        gap: 1.25rem;
        padding: 2rem;
    }

    .services-format h2{
        font-size: 1.75rem;
    }

    .services-format p{
        font-size: 1.125rem;
        line-height: 2rem;
        max-width: 18.75rem;
    }

    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
    }
}

@media (max-width: 480px) {
    .services {
        margin: 1.25rem 2rem; /* Yan boşlukları daraltıyoruz */
        gap: 3rem; /* Hizalama boşluklarını küçültüyoruz */
    }

    .services-title h1 {
        font-size: 2.5rem; /* Başlık boyutunu küçültüyoruz */
    }

    .services-format {
        padding: 1.5rem; /* Hizmet formatı kutularının padding'ini küçültüyoruz */
        gap: 1rem; /* İçerik boşluğunu küçültüyoruz */
    }

    .services-format h2 {
        font-size: 1.5rem; /* Başlık boyutunu küçültüyoruz */
    }

    .services-format p {
        font-size: 1rem; /* Paragraf boyutunu koruyoruz */
        line-height: 1.8rem; /* Satır yüksekliğini küçültüyoruz */
        max-width: 15rem; /* Paragraf genişliğini küçültüyoruz */
    }

    .services-container {
        grid-template-columns: 1fr 1fr; /* Tek sütuna geçiş yapıyoruz */
        gap: 1.5rem; /* Kutular arasındaki boşluğu küçültüyoruz */
    }
}
