.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 11rem;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0rem 2rem;
    font-size: 5rem;
    font-family: 600;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.mywork-container img{
    box-sizing: border-box;
    width: 20rem;
    height: 18rem;
    transition: 0.3s;
    cursor: pointer;
    object-fit: cover;
}

.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid#F7E7CE;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 2rem 3.75rem;
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 5rem;
    transition: 0.6s;
    cursor: pointer;
}


details {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
    max-height: 2em; 
  }
  
  details[open] {
    max-height: 100vh; 
  }
  
  details summary {
    cursor: pointer;
    font-weight: bold;
  }
  
  details summary::marker {
    content: '▼ '; 
    transition: transform 0.3s ease-in-out;
  }
  
  details[open] summary::marker {
    content: '▲ '; 
  }

  @media (max-width:768px) {
    .mywork{
      gap: 3rem;
      padding: 3.125rem 4.375rem;
      align-items: start;
      margin: 0;
    }

    .mywork-title h1{
      padding: 0;
      font-size: 3.125rem;
      font-weight: 600;
    }

     .mywork-container{
      grid-template-columns: 1fr 1fr;
      gap: 1.875rem;
     }

     .mywork-container img{
      width: 100%;
      height: 100%;
     }

     .mywork-showmore{
      padding: 1.25rem 2.5rem;
      font-size: 1.125rem;
      margin: 3.125rem auto;
      cursor: pointer;
     }
  }

  @media (max-width: 480px) {
    .mywork {
        margin: 2rem 1rem;
        gap: 3rem;
    }

    .mywork-title h1 {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .mywork-container img {
        width: 100%;
        height: auto;
    }

    .mywork-showmore {
        font-size: 1.125rem;
        padding: 1.5rem 2.5rem;
    }

    details {
        max-height: 2em;
    }

    details[open] {
        max-height: 100vh;
    }

    details summary {
        font-size: 1.125rem;
    }
}

  